@import "@/main.module.scss";

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    max-width: $maxWidth;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    @media (max-width:960px) {
        display: block;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
        flex: 30%;
        gap: 20px;

        .cardItem {
            border-radius: 20px;
            position: relative;
            flex: 30%;
            background-color: #fff;

            @media (max-width: 960px) {
                max-width: 280px;
                margin-top: 15px;
            }

            .image {
                object-fit: cover;
                width: 100%;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                

                @media (max-width: 960px) {
                width: 280px;
                overflow: clip;
                }
            }

            .description {
                padding: 10px;
            }

            .tour {
                font-size: 14px;
                font-weight: bold;
            }

            .type {
                margin: 8px 0;
                font-size: 12px;
            }

            .svg {
                display: inline-block;
                margin-right: 8px;
            }

            .numbers {
                display: flex;
                justify-content: space-between;

                .sum {
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                    margin: 12px 0;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    margin-top: 8px;
                }

                .rating span {
                    margin-left: 4px;
                    font-size: 14px;
                }
            }

            button {
                background-color: #007bff;
                color: white;
                font-size: 24px;
                padding: 7px 12px;
                border: none;
                border-radius: 14px;
                cursor: pointer;
                width: 100%;
            }

            .heart {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 24px;
                height: 24px;
                background-size: contain;
                cursor: pointer;
            }
        }
    }
}

.more {
        text-align: center;
        background-color: #007bff;
        color: white;
        font-size: 16px;
        padding: 10px 8px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        width: 108px;

        @media (max-width: 960px) {
            padding: 10px 0px;
            width: 192px;
            font-size: 28px;
        }

        @media (max-width: 425px) {
            width: 108px;
            border-radius: 4px;
            font-size: 16px;
        }
    }

