* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive;

    a {
        color: inherit;
    }

}

body {
    background-color: #faf7f7;
}