/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive;

}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/widgets/Header/ui/Header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__MyyP1 {
  width: 100vw;
  height: 60px;
  background: #1D4ED8;
  padding: 0 40px;
}
.Header_header__MyyP1 * {
  color: white;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/widgets/Header/ui/Nav/ui/Nav.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Nav_Nav__Gne6p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Nav_Nav__Gne6p a {
  cursor: pointer;
}
.Nav_Nav__Gne6p .Nav_centerContentHeaderNav__qwmlK {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Nav_Nav__Gne6p .Nav_centerContentHeaderNav__qwmlK div {
  position: relative;
}
.Nav_Nav__Gne6p .Nav_centerContentHeaderNav__qwmlK div input {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 5px 20px;
  outline: none;
}
.Nav_Nav__Gne6p .Nav_centerContentHeaderNav__qwmlK div input::placeholder {
  color: white;
}
.Nav_Nav__Gne6p .Nav_centerContentHeaderNav__qwmlK div label {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
}
.Nav_Nav__Gne6p .Nav_centerContentHeaderNav__qwmlK select {
  background-color: transparent;
  border: none;
  outline: none;
}
.Nav_Nav__Gne6p .Nav_profile__aeFYx {
  background-color: white;
  padding: 10px 20px;
  color: #1D4ED8;
  border-radius: 6px;
}
